<!DOCTYPE html>
<html  class="no-js"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/layout.html}">

<head>
    <title>내 정보 수정</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">내 정보 수정</h1>
            <small class="form-text text-green-500" th:if="${resultSuccess}" th:text="${resultSuccess}">변경 성공</small>
            <small class="form-text text-red-500" th:if="${resultError}" th:text="${resultError}">변경 실패</small>

            <form th:action method="POST" class="flex flex-col gap-3">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">필명</span>
                    </label>
                    <input autofocus type="text" name="nickname" th:value="${member.nickname}" placeholder="필명" class="input input-bordered" maxlength="50">
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">이메일</span>
                    </label>
                    <input type="email" name="email" th:value="${member.email}" placeholder="이메일" class="input input-bordered" maxlength="50">
                </div>

                <div class="grid grid-cols-1 mt-2">
                    <input class="btn btn-primary" type="submit" id="signup" value="수정하기">
                </div>
            </form>
        </div>

    </section>
</main>
</body>
</html>