<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<head>
  <title>아이디 찾기</title>
</head>

<body>
  <main layout:fragment="main">
  <section class="section section-login flex-grow flex flex-col items-center justify-center">

    <div class="max-w-md w-full px-2 pt-4">
      <h1 class="font-bold text-lg">아이디 찾기</h1>
      <form th:action method="POST" class="flex flex-col gap-3">
        <div class="form-control">
          <label class="label">
            <span class="label-text">이메일</span>
          </label>
          <input th:if="${result}" type="text" autofocus th:value="${result}" class="input input-bordered" maxlength="50" readonly>
          <input th:unless="${result}"type="email" autofocus name="email" placeholder="이메일을 입력해주세요." class="input input-bordered" maxlength="50">
          <span th:if="${emailError}" th:text="${emailError}" class="text-red-500 mt-2"></span>
          <span th:if="${emailLengthError}" th:text="${emailLengthError}" class="text-red-500 mt-2"></span>
        </div>

        <div class="grid grid-cols-1 mt-2">
          <input class="btn btn-primary" type="submit" value="아이디 찾기">
        </div>
      </form>
    </div>
    <div class="text-center mt-3">
      <a href="/member/login">로그인</a>
      <span class="mx-2">|</span>
      <a href="/member/findPassword">비밀번호 찾기</a>
    </div>

  </section>

</main>
</body>
</html>