<!DOCTYPE html>
<html  class="no-js"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{layout/layout.html}">

<head>
    <title>내 정보 수정</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-join flex-grow flex flex-col items-center justify-center">

        <div class="max-w-md w-full px-2 pt-4">
            <h1 class="font-bold text-lg">비밀번호 변경</h1>
            <small class="form-text text-red-500" th:if="${resultError}" th:text="${resultSuccess}">에러 구문</small>
            <small class="form-text text-green-500" th:if="${resultSuccess}" th:text="${resultSuccess}">변경 성공</small>

            <form th:action method="POST" class="flex flex-col gap-3" th:object="${modifyPasswordDto}">
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">현재 비밀번호 입력</span>
                    </label>
                    <input autofocus type="password" th:field="*{oldPassword}" placeholder="현재 비밀번호를 입력해주세요." class="input input-bordered" maxlength="50">
                    <small class="form-text text-red-500 fieldError" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">password Error</small>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">새로운 비밀번호</span>
                    </label>
                    <input type="password" th:field="*{newPassword}" id="password"
                           placeholder="변경할 비밀번호를 입력해주세요." class="input input-bordered" maxlength="50">
                    <small class="form-text text-red-500 fieldError" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">password Error</small>
                </div>

                <div class="form-control">
                    <label class="label">
                        <span class="label-text">비밀번호 확인</span>
                    </label>
                    <input type="password" name="passwordChk" id="passwordChk"
                           placeholder="비밀번호를 한번 더 입력해주세요." class="input input-bordered" maxlength="50">
                    <span id="passwordChkMsg"></span>
                </div>

                <div class="grid grid-cols-1 mt-2">
                    <input class="btn btn-primary" type="button" id="signup" value="수정하기">
                </div>
            </form>
        </div>

    </section>
    <script>
        let pwdChk = false;
        $("#signup").click(function(){
            if (pwdChk) {
                $('#signupForm').submit();
            } else if (!pwdChk) {
                warningModal("비밀번호를 확인해주세요.");
            }
        });
        $(function(){
            $('#password').on("propertychange change keyup paste input", function(){
                $('#passwordChkMsg').html('');
            });

            $('#password, #passwordChk').keyup(function(){

                if($('#password').val() !== $('#passwordChk').val()){
                    pwdChk = false;
                    $("#passwordChkMsg").text("비밀번호가 일치하지 않습니다.")
                        .addClass("text-red-500")
                        .removeClass("text-blue-500");
                } else{
                    pwdChk = true;
                    $("#passwordChkMsg").text("비밀번호가 일치합니다.")
                        .addClass("text-blue-500")
                        .removeClass("text-red-500");
                }

            });
        });
        $('#passwordChk, #password, #username, #email').on("propertychange change keyup paste input", function(){
            if (pwdChk) {
                $("#signup").attr("type", "submit");
            } else {
                $("#signup").attr("type", "button");
            }
        });

    </script>
</main>
</body>
</html>