<!DOCTYPE html>
<html lang="ko"
      class="no-js"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<body>
    <footer class="border-t-[1px] border-t-[color:#efefef] py-3 text-[color:#777] text-[14px] mt-5" th:fragment="footer">
    <div class="container mx-auto flex flex-col gap-1 px-2">
        <div>
            <a href="/">
                <span>사업자정보확인</span>
                <span class="inline-block scale-[.7]">▼</span>
            </a>
        </div>

        <div class="flex gap-3">
            <a href="/">이용약관</a>
            <a href="/">개인정보 처리방침</a>
            <a href="/">청소년보호정책</a>
        </div>

        <div>
            <a href="/">©MUT Corp.</a>
        </div>
    </div>
</footer>
</body>
</html>